version: '3.8'
services:
  db:
    container_name: piwatch_db
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=piwatch
      - POSTGRES_PASSWORD=piwatch
      - POSTGRES_DB=piwatch
    ports:
      - '5432:5432'
    volumes: 
      - ./db/data:/var/lib/postgresql/data
      - ./db/scripts:/docker-entrypoint-initdb.d
    networks:
      - app-network
  backend:
    container_name: piwatch_backend
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - app-network
    ports:
      - "8000:8000" 
    volumes:
      - .:/app 
  ros:
    container_name: piwatch_ros
    image: osrf/ros:noetic-desktop-full
    restart: always
    command: bash -c "source /opt/ros/noetic/setup.bash && roscore"
    ports:
      - "11311:11311"
    networks:
      - app-network
    volumes:
      - ./piWatch-ros:/piWatch-ros

networks:
    app-network:
        driver: bridge
